<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles</title>
</head>
<body>
    <h3> <%= dato.fecha %> </h3>
    <h3><%= dato.hora_id %> </h3>
    <h3><%= dato.output %></h3>
    <h3><%= dato.output_active %></h3>
    <h3><%= dato.voltaje %></h3>
    <h3><%= dato.porcentaje %></h3>
    <h3><%= dato.charging %></h3>
    <h3><%= dato.discharge %></h3>
    <h3><%= dato.input_voltaje %></h3>
    <h3><%= dato.input_power %></h3>
    <a href="/datos/<%= dato.id %>/edit">Editar dato</a>
    <form action="/datos/<%= dato.id %>/delete?_method=DELETE" method="POST">
        <button type="submit">Eliminar</button>
    </form>
</body>
</html>